body {
    font-family: 'Source Code Pro', monospace;
}

.bold-para,
.small-para {
    color: #000000;
    margin-left: 10px;
}

.bold-para {
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 0;
}

.small-para {
    font-weight: 400;
    font-size: 12px;
    margin-top: 0;
}

.container,
.top-section {
    width: 375px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.sub-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #C6C6C6;
    padding: 12px 10px 10px 10px;
    margin-bottom: 12px;
}

.logo {
    width: 127px;
   
}

.small-img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-left: 10px;
}

.main-img {
    width: 375px;
    
}

.img-icons {
    width: 23.3px;
    margin: 12px 7px;
}

.icons {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
}

.row {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    
}

.column {
    display: flex;
    flex-direction: column;
}